{% extends "base.html.j2" %}

{% block content %}
<h1 class="mt-5">{{ title }}</h1>
<ul>
{% for file in files %}
    <li>{{ file }}</li>
{% endfor %}
<ul>
{# komentarz #}
<!-- komentarz html -->
{% endblock %}